body{
    background-image: url(img/body.jpg);
}

header .cbg-rolo {
    background-image: url(img/roloFilme.png);
    background-position: center;
    background-size: contain;
}
header .ctext-shadow{
    text-shadow: 5px 4px #222;
}
header .cbtn-back{
    position: absolute;
    margin-left: 2rel;
    margin-top: 5px;
}
header .cbtn-back a :hover {color: #eee !important;}
header .cbtn-back a :active{color: #bbb !important}
