

body{
    background-image: url(../img/body.jpg);
}

header .cbg-rolo {
    background-image: url(../img/roloFilme.png);
    background-position: center;
    background-size: contain;
}
header .ctext-shadow{
    text-shadow: 5px 4px #222;
}
header .cbtn-back{
    position: absolute;
    font-size: 2.5em;
    text-decoration: none;
}
header .cbtn-back :hover {color: #eee !important}
header .cbtn-back :active{color: #bbb !important}
img {border-radius:15px}
